# Test Report


## TC-1

| **Step** | **Variable or selection** | **Value** | **Expected result** | **Obtained** |
|----------|---------------------------|-----------|---------------------|--------------|
| A1       | Meal list                 | Default   | Meal list is displayed|            |

## TC-2

| **Step** | **Variable or selection** | **Value** | **Expected result** | **Obtained** |
|----------|---------------------------|-----------|---------------------|--------------|
| A1       | Meal list                 | Not available | Meal list is not displayed|    |