@import "../common/css/layout.css";

.orders__wrapper {
    padding: 0 40px;
}

.orders__empty-message {
    display: none;
}

.orders__table {
    display: none;
    font-size: 14px;
    text-align: center;
}

.orders__accept, .orders__decline, .orders__delivered {
    border-radius: 5px;
    border: 0;
    color: #FFFFFF;
    padding: 5px 10px;
    cursor: pointer;
}

.orders__accept {
    background: #38823b;
}

.orders__decline {
    margin-top: 5px;
    background: #c1372d;
}

.orders__delivered {
    background: #3f51b5;
}

table td {
    padding: 5px 10px;
    max-width: 15%;
}

table th {
    background: #ffffff;
    padding: 5px 10px;
}

.orders__colored-row {
    background: #ffffff;
}

.orders__ordinary-row {
    background: #f7f7f7;
}

.oreders__status--pending {
    color: #FF5722;
}

.oreders__status--delivering {
    color: #38823b;
}

.oreders__status--cancelled {
    color: #c1372d;
}

.oreders__status--delivered {
    color: #3f51b5;
}